body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

header{
    color: #000;
    text-align: center;
}

.container-box {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
}

.metrics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}
#clearButton {
    background-color: #43A047;
    margin: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
  }
  

button.btn{
    background-color: #43A047;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

textarea[name="user-input"] {
    width: 90%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}




ul{
    list-style-type:none;
}
li{
align-items: center;
}